@font-face {
    font-family: principal;
    src: url("../fuentes/segoe_ui_light-webfont.woff");
}

@font-face {
    font-family: monoespacio;
    src: url("../fuentes/ubuntu-r-webfont.woff");
}

@media only screen and (max-width: 6000px) {
    body {
        zoom: 4;
    }
}

@media only screen and (max-width: 5300px) {
    body {
        zoom: 3;
    }
}

@media only screen and (max-width: 4000px) {
    body {
        zoom: 2.5;
    }
}

@media only screen and (max-width: 3600px) {
    body {
        zoom: 2;
    }
}

@media only screen and (max-width: 2500px) {
    body {
        zoom: 1.6;
    }
}

@media only screen and (max-width: 1900px) {
    body {
        zoom: 1.3;
    }
}

@media only screen and (max-width: 1300px) {
    body {
        zoom: 1;
    }
}

@media only screen and (max-width: 900px) {
    body {
        zoom: 0.9;
    }
}

/*--------------------- BODY ---------------------*/

body {
    min-width: 780px;
    font-family: principal, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #fff;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

header>img {
    height: 100%;
}

header>img:nth-child(2) {
    position: absolute;
    height: 80%;
    top: 10px;
    right: 140px;
    z-index: 1000;
}

header>img:nth-child(3) {
    position: absolute;
    right: 0;
    height: 60%;
    z-index: 900;
}

#titular {
    position: absolute;
    bottom: 4px;
    left: 10%;
    font-size: 30px;
    font-weight: 900;
    color: #353990;
}

#selector_idiomas {
    position: absolute;
    top: 70px;
    right: 10px;
    font-family: principal;
    font-weight: 900;
    color: #ff8836;
    background-color: #fff;
    border: none;
    font-size: 18px;
}

#selector_idiomas>option {
    font-size: 12px;
    border: none;
    text-align: right;
    transition: background-color 0.5s;
}

section {
    position: absolute;
    top: 100px;
    width: 100%;
    height: calc(100% - 100px);
    overflow: scroll;
    overflow-x: hidden;
}

.titulos {
    margin: 0px auto;
    width: 80vw;
    max-width: 900px;
    min-width: 500px;
    color: #000;
}

button.descargar {
    font-family: principal;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 0.1em;
    display: block;
    margin-left: 20px;
    float: right;
    width: 160px;
    border: none;
    padding: 6px;
    color: #fff;
    text-align: center;
    background-color: #353990;
    transition: background-color .5s;
}

button.descargar:hover {
    background-color: #4549a0;
}

button.descargar>img {
    float: right;
    width: 10px;
    height: 10px;
    margin: 0px 10px;
}

h1 {
    padding-bottom: 8px;
    font-size: 18px;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1);
}

table {
    margin: 20px auto;
    margin-bottom: 100px;
    width: 80vw;
    max-width: 900px;
    min-width: 500px;
    border-collapse: collapse;
    background-color: white;
    font-weight: 900;
}

th, td {
    padding: 4px 10px;
    border: 1px solid #ccc;
}

td.fecha {
    font-size: 10px;
}

th {
    background-color: #ccc;
    font-size: 15px;
}

#contenido {
    margin: 60px auto;
    margin-bottom: 100px;
    width: 80vw;
    max-width: 900px;
    color: #fff;
}

#contenido>b {
    width: 100%;
}

#contenido>img {
    display: inline-block;
    margin: 40px 60px;
    border: 4px solid #ff8836;
}

#logo {
    width: 100vw;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #666;
    background-color: #fff;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.3);
}

footer>span>a {
    text-decoration: none;
    color: #ff8836;
}

footer>span {
    padding: 0 10px;
}

#telon {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
    opacity: 0.8;
}

#telon>img {
    margin-top: 200px;
}