@font-face {
    font-family: principal;
    src: url("../fuentes/ubuntu-r-webfont.woff");
}

@media only screen and (max-width: 6000px) {
    body {
        zoom: 4;
    }
}

@media only screen and (max-width: 5300px) {
    body {
        zoom: 3;
    }
}

@media only screen and (max-width: 4000px) {
    body {
        zoom: 2.5;
    }
}

@media only screen and (max-width: 3600px) {
    body {
        zoom: 2;
    }
}

@media only screen and (max-width: 2500px) {
    body {
        zoom: 1.6;
    }
}

@media only screen and (max-width: 1900px) {
    body {
        zoom: 1.3;
    }
}

@media only screen and (max-width: 1300px) {
    body {
        zoom: 1;
    }
}

@media only screen and (max-width: 900px) {
    body {
        zoom: 0.9;
    }
}

/*--------------------- BODY ---------------------*/

body {
    font-family: principal, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background: url('../img/logo-izq.jpg') left top no-repeat, url('../img/logo-der.jpg') right top no-repeat, url('../img/logo-cen.jpg') center top no-repeat;
    background-color: #353990;
    background-color: #000;
}

#titular {
    margin: 110px auto;
    margin-bottom: 50px;
    padding-left: 150px;
    width: calc( 80vw - 150px );
    max-width: 900px;
    font-size: 50px;
    color: #353990;

}
#titular > select {
    position: absolute;
    top: 200px;
    right: 20px;
    font-family: principal;
    color:#ff8836;
    background-color: #000;
    border: none;
    font-size: 18px;
}
#titular > select > option{
    font-size: 10px;
}
#tablas>h3 {
    margin: 0px auto;
    width: 80vw;
    max-width: 900px;
    color: #fff;
}

table {

    margin: 20px auto;
    margin-bottom: 100px;
    width: 80vw;
    max-width: 900px;
    min-width: 500px;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 4px 10px;
    border: 1px solid #ccc;
}

td.fecha {
    font-size: 10px;
}

th {
    background-color: #ccc;
    font-size: 15px;
}

#contenido {
    margin: 60px auto;
    margin-bottom: 100px;
    width: 80vw;
    max-width: 900px;
    color: #fff;
}

#contenido>b {
    width: 100%;
}

#contenido>img {
    display: inline-block;
    margin: 40px 60px;
    border: 2px solid #353990;
}

#logo {
    width: 100vw;
}

#pie {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

#pie>a {
    text-decoration: none;
    color: #ff8836;
}